/*
nav {
	box-shadow:inset 10px -10px red, inset 10px 10px red, inset -10px 10px red, inset -10px -10px red;
}
footer {
	box-shadow:inset 10px -10px green, inset 10px 10px green, inset -10px 10px green, inset -10px -10px green;
}
header {
	box-shadow:inset 10px -10px blue, inset 10px 10px blue, inset -10px 10px blue, inset -10px -10px blue;
}
section {
	box-shadow:inset 10px -10px black, inset 10px 10px black, inset -10px 10px black, inset -10px -10px black;
}
aside {
	box-shadow:inset 10px -10px teal, inset 10px 10px teal, inset -10px 10px teal, inset -10px -10px teal;
}
*/
